<!doctype html>
<html>
<head>
	<title>Catelog Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1> <a href="/profile">My Catelog</a> | <a href="/users">User Page</a> | <a href="/catelog">Catelog Page</a></h1>
        <% if (user.facebook.token) { %> <%= user.facebook.email %> <% } %>
        <% if (user.google.token) { %> <%= user.google.email %> <% } %>
		 | <a href="/logout">Logout</a>
	</div>

	<div class="row">

		<div class="col-sm-12">
            <h3 class="text-primary">Catelog Page</h3>					
            <table class="table">
                <thead>
                    <tr><th>Title</th><th>Description</th><th>Action</th></tr>
                </thead>
                <tbody id="allCatalog"></tbody>
            </table>
		</div>
        
	</div>

</div>
</body>
    <script>
        var init = function(){
            $.get('/api/source',{},function(r){
                var str = '';
                for(var i = 0; i < r.d.length;i++){
                    str += '<tr><td>'+r.d[i].item+'</td><td>'+r.d[i].description+'</td><td>'+((r.d[i].access.indexOf(r.me) != -1)?'':'<a onclick="addMe(\''+r.d[i]._id+'\');">Add to My List</a>')+'</td></tr>';
                }
                $('#allCatalog').html(str);
            },'json');
        }();
        var addMe = function(id){
            var url = '/api/source/'+id;
            $.put(url,function(r){
                init();
            },'json');
        };
    </script>
</html>